<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.play.playsystem.post.mapper.PostMapper">
    <select id="count" resultType="java.lang.Long">
        select count(*) from t_post p
        <include refid="query"/>
    </select>

    <select id="getPostList" resultMap="postMap">
        select
            p.id,
            p.post_title,
            p.post_content,
            p.post_likes_num,
            (select count(*) from t_comment c where c.comment_post_id = p.id) as comment_count,
            (select count(*) from user_post_likes upl where upl.post_id = p.id and upl.user_id = #{userId}) as user_liked,
            p.post_created_id,
            p.post_created_date
        from t_post p
        <include refid="query"/>
        <include refid="orderSql"/>
        limit #{page},#{pageSize}
    </select>

    <select id="selectById" resultMap="postMap">
        select
            p.id,
            p.post_title,
            p.post_content,
            p.post_likes_num,
            (select count(*) from t_comment c where c.comment_post_id = p.id) as comment_count,
            (select count(*) from user_post_likes upl where upl.post_id = p.id and upl.user_id = #{userId}) as user_liked,
            p.post_created_id,
            p.post_created_date
        from t_post p
        where p.id = #{id}
    </select>

    <select id="countLikePost" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_post p
        JOIN forum.user_post_likes upl on p.id = upl.post_id
        <include refid="query"/>
    </select>

    <select id="getLikePostList" resultType="com.play.playsystem.post.domain.vo.PostVo">
        select
            p.id,
            p.post_title,
            p.post_content,
            p.post_likes_num,
            (select count(*) from t_comment c where c.comment_post_id = p.id) as comment_count,
            1 as user_liked,
            p.post_created_id,
            p.post_created_date
        from t_post p
        JOIN forum.user_post_likes upl on p.id = upl.post_id
        <include refid="likeQuery"/>
        <include refid="orderSql"/>
        limit #{page},#{pageSize}
    </select>

    <sql id="likeQuery">
        <where>
            <if test="keywords != null and keywords !=''">
                and (p.post_title like concat('%',#{keywords},'%') or p.post_content like concat('%',#{keywords},'%'))
            </if>
            and upl.user_id = #{userId}
        </where>
    </sql>

    <sql id="query">
        <where>
            <if test="keywords != null and keywords !=''">
                and (p.post_title like concat('%',#{keywords},'%') or p.post_content like concat('%',#{keywords},'%'))
            </if>
        </where>
    </sql>

    <sql id="orderSql">
        <choose>
            <when test="(sortField == 'post_created_date' or sortField == 'post_title') and (sortOrder.toLowerCase() == 'asc' or sortOrder.toLowerCase() == 'desc')">
                <![CDATA[ORDER BY ${sortField} ${sortOrder}]]>
            </when>
            <otherwise>
                ORDER BY post_created_date DESC
            </otherwise>
        </choose>
    </sql>

    <resultMap id="postMap" type="com.play.playsystem.post.domain.vo.PostVo">
        <id property="id" column="id"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContent" column="post_content"/>
        <result property="postLikesNum" column="post_likes_num"/>
        <result property="userLiked" column="user_liked"/>
        <result property="postCreatedId" column="post_created_id"/>
        <result property="postCreatedDate" column="post_created_date"/>
        <result property="postCommentNum" column="comment_count"/>
    </resultMap>

</mapper>