<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.qasystem.post.mapper.AnswerMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"  parameterType="Answer">
        insert into
            t_answer(
            answer_content,
            answer_question_id,
            answer_created_id,
            answer_created_date
        )values (
                    #{answerContent},
                    #{answerQuestionId},
                    #{answerCreatedId},
                    #{answerCreatedDate}
                )
    </insert>
    <select id="count" resultType="java.lang.Long">
        select
            count(a.id)
        from t_answer a
        <include refid="query"/>
    </select>
    <select id="getList" resultMap="answerMap">
        select
        a.id,
        a.answer_content,
        a.answer_created_date
        from t_answer a
        <include refid="query"/>
        <include refid="orderSql"/>
        limit #{page},#{pageSize}
    </select>

    <sql id="query">
        <where>
            <if test="keywords != null and keywords !=''">
                and a.content like concat('%',#{keywords},'%')
            </if>
            and a.answer_question_id = #{questionId}
        </where>
    </sql>
    <sql id="orderSql">
        <choose>
            <when test="sortField == 'answer_created_date' and (sortOrder.toLowerCase() == 'asc' or sortOrder.toLowerCase() == 'desc')">
                <![CDATA[ORDER BY ${sortField} ${sortOrder}]]>
            </when>
            <otherwise>
                ORDER BY answer_created_date DESC
            </otherwise>
        </choose>
    </sql>
    <resultMap id="answerMap" type="Answer">
        <id property="id" column="id"/>
        <result property="answerContent" column="answer_content"/>
        <result property="answerQuestionId" column="answer_question_id"/>
        <result property="answerCreatedId" column="answer_created_id"/>
        <result property="answerCreatedDate" column="answer_created_date"/>
<!--        <association property="answerCreatedBy" javaType="User" column="answer_created_id"-->
<!--                     select="com.example.qasystem.user.mapper.UserMapper.selectUserById"/>-->
    </resultMap>
</mapper>