<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.qasystem.org.mapper.ImageMapper">
    <insert id="insertImage" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
            t_image(image_url, image_status, image_created_date)
        VALUES (
                #{imageUrl},
                #{imageStatus},
                #{imageCreatedDate}
               )
    </insert>
</mapper>